root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = false
max_line_length = unset
tab_width = 4

[{*.java,*.kts,*.yml}]
indent_size = 2
tab_width = 2

[*.java]
ij_java_doc_align_param_comments = false
ij_java_generate_final_parameters = true
ij_java_generate_final_locals = true
